#main {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  background-color: azure;
}

.card {
  border: 1px solid rgb(185, 45, 45);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 50%;
}
