/*
margin: _ ;all sides 
margin: _  _ ; top-bottom , left right
margin _ _ _ ; top left-right buttom
margin _ _ _ _ ; top right left buttom

padding

font:-

font-family,font-varient,font-weight,font-style,font-size,font-color,text-align




box-shadow
border-radius
*/